
h1 {
    font-size: 200%;
    font-weight: bold;
    padding: 20px;
    color: #eee;
    background: #000;
}
h1 a:link, h1 a:visited {
    color: #eee;
}
h1 a:hover {
    color: #e11;
}

h2 {
    font-size: 180%;
    font-weight: bold;
    padding: 8px 0 8px 2.2em;
    margin: 10px 20px;
    text-shadow: 2px 2px 4px #aaa;
}

h2 + time {
    display: block;
    margin: -60px 0 0 20px;
    width: 4em;
    text-align: center;
    line-height: 1.8;
    vertical-align: middle;
}

p {
    margin: 0 0 15px 20px;
    padding: 0 0 0 4em;
    max-width: 760px;
    text-align: justify;
    line-height: 1.5;
}

a:link, a:visited {
    color: #00f;
}
a:hover {
    color: #e11;
}
